{{define "document"}}
<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
	{{template "navbar" .}}
	<div class="container">
		<div id="parent" class="row">
			<div class="col-sm-3 col-md-3" role="complementary">{{template "sidebar" .}}</div>
			<div id="inner" class="col-sm-9 col-md-9 main" role="main">{{template "inner" .}}</div>
	</div>
	<script src='/static/scripts/jquery-3.1.1.min.js'></script>
	<script src='/static/scripts/bootstrap.min.js'></script>
	<script src='/static/scripts/app.js'></script>
	<script src="/static/scripts/prism.js"></script>
</body>
</html>
{{end}}