{{define "search"}}
<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
    {{template "navbar" .}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 sidebar" role="complementary">{{template "sidebar" .}}</div>
            <div id="inner" class="col-sm-9 col-md-9 main" role="main">
               <h1>Search</h1>
               <h5>{{.Params.query_result.Total}} matches, took {{.Params.query_result.Took}} seconds</h5><hr>
                {{range .Params.query_result.QueryMatches}}
                    <h4 style="margin-bottom: 0.25em;"><a title='{{.Title}}' href='{{.ID}}'>{{.Title}}</a></h4>
                    <p style="font-size: 13px;"><code class="language-default">{{.ID}}</code><br>{{.Body}}</p>
                {{end}}
                            <br>
            <hr/> 
            </div>
        </div>
    </div>
    <script src='/static/scripts/jquery-3.1.1.min.js'></script>
	<script src='/static/scripts/bootstrap.min.js'></script>
	<script src='/static/scripts/app.js'></script>
	<script src="/static/scripts/prism.js"></script>
</body>
</html>
{{end}}